:root {
    --width: 255px;
}


.app-body {
    min-height: calc(100vh - 330px)
}

/*sidebar*/

.pushable.custom {
    width: 100%;
    min-height: 500px;
}

.pushable.custom > .ui.sidebar {
    width: var(--width) !important;
}

.pushable.custom > .ui.visible.sidebar {
    margin-left: 0px !important;
}

.ui.visible.left.sidebar~.pusher-computer {
    margin-left: calc(var(--width) + 10px);
}

.pushable.custom > .pusher-computer {
    transition: margin-left .5s ease;
}

.ui.inverted.menu.product-sidebar {
    background-color: #fff;
}

/*sidebar item */
.ui.labeled.icon.menu .item {
    text-align: left;
    color: #000;
    transition: background-color .15s ease;
}

.ui.labeled.icon.menu .item:hover {
    background-color: #000;
}

.ui.labeled.icon.menu .item>.icon:not(.dropdown){
    display: inline-block;
    font-size: 15px !important;
    width: 25px;
    text-align: left;
}

/* header of content */
.filter {
    margin-top:20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.ui.grid.no-margin {
    margin: 0px;
}

/*main content */
.ui.grid.content {
    margin: 0px;
}

.listview-footer {
    margin-top: 20px !important;
    padding-top: 20px !important;
    margin-bottom: 40px !important;
    border-top: 1px solid  #efefef;
}

/* product item */

.ui.grid>.column.item-wrapper {
    padding: 10px;
}

.ui.grid>.column.item-wrapper > .item {
    /* border: 1px solid rgba(34,36,38,.15); */
    border-radius: 3px;
    padding: 2px;
    /* min-height: 250px; */
    transition: box-shadow .3s ease-out, transform .15s ease-in-out;
    position: relative;
}

.ui.grid>.column.item-wrapper > .item:hover {
    box-shadow: 0px 0px 8px 2px rgba(34,36,38,.15);
    cursor: pointer;
    transform: translateY(-5px);
}


.ui.grid>.column.item-wrapper > .item > .item-footer {
    padding: 5px;
    border-top: 1px solid rgba(34,36,38,.15);
    margin-top: 2px;
}

.ui.grid>.column.item-wrapper > .item > .item-footer > .product-info {   
    padding-top: 7px;
}

.ui.grid>.column.item-wrapper > .item > .item-footer > .product-info > .sale {
    font-size: 10px;
}

.ui.grid>.column.item-wrapper > .item > .item-footer > .price-wrapper {
    margin-top:7px;
}

.ui.grid>.column.item-wrapper > .item > .item-footer > .price-wrapper > .ui.tag > .price {
    padding-left: 12px;
    padding-right: 8px;
}

.ui.grid>.column.item-wrapper > .item > .item-footer > .price-wrapper > .ui.tag > .price.origin {
    text-decoration: line-through;
}

.ui.grid>.column.item-wrapper > .item > .item-footer > .title {
    color: black;
}